<!-- Main Content -->

{{#each forums}}
<a href="/p/{{this.id}}" class="forumwhite" author="{{this.UserId}}">
    <h2 class="post-title card-header header">{{this.postSubject}}<a href="/delete/{{this.id}}"><i class="forumwhite fas fa-trash-alt"
                id="{{this.id}}"></i>
        </a> </h2>
    <div class="card-body mb-2">

        <div class="post-subtitle nav-item" scope="col">
            <a class="nav-link">
                {{this.postBody}}
            </a>
        </div>
        <input class="form-control mt-5 post-body" id="post-body"></input>
        <button type="button" class="btn btn-secondary submitPost mt-1" id="{{this.id}}">Submit</button>
    </div>
</a>

{{/each}}
<!-- Pager -->
<div class="clearfix">
    <a class="btn btn-primary float-right mt-3" href="#">Older Posts &rarr;</a>
</div>
</div>
</div>
</div>

<hr>
