<!-- Main Content -->

{{#each forums}}
<a href="show/{{this.topicID}}" class="forumwhite"> {{this.topicBy}}
    <h2 class="post-title card-header header">{{this.topicSubject}}<a href="delete/{{this.topicID}}"><i class="forumwhite fas fa-trash-alt"
                id="{{this.topicID}}"></i>
        </a> </h2>
    <div class="card-body mb-2">

        <div class="post-subtitle nav-item" scope="col">
            <a class="nav-link">
                {{this.topicBody}}
            </a>
        </div>

        <ul>
            {{#each comment}}
            <li class="nav-item">
                <a class="nav-link">
                    {{this.postedBy}}
                </a>
                <h7> {{this.postBody}}</h7>
            </li>
        </ul>
        {{/each}}


    </div>
</a>

{{/each}}
<!-- Pager -->
<div class="clearfix">
    <a class="btn btn-primary float-right mt-3" href="#">Older Posts &rarr;</a>
</div>
</div>
</div>
</div>

<hr>